.contacts-index-container {
  min-height: 95vh;
}

.contacts-container-header {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 30px;
}

.add-contact{
   margin-left: auto;
  font-family: "Lato", sans-serif;
  width: 7%;
  height: 35px;
  border: 1px solid black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  background-color: #ffffff;
  background: none;
  border-radius: 20px;
  text-align: center;
}

.filter-contact{
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.filter-contact input{
   font-size: 1em;
   border: none;
   background-color: inherit;
   letter-spacing: 0.07em;
   border-bottom: 1px solid #00000084;
   font-family: "Lato", sans-serif;
   margin-left: 8px;
}
.filter-contact input:focus {
  outline: 0;
  border-bottom: 1px solid #e84142;
  transition: 0.1s all ease;
}

.add-contact{
  margin-left: auto;
  font-family: "Lato", sans-serif;
  width: 120px;
  height: 35px;
  border: 1px solid black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  background-color: #ffffff;
  background: none;
  border-radius: 20px;
  text-align: center;
}

.add-contact:hover {
  border: 1px solid #e84142;
  background-color: #e84142;
  color: #ffff;
}


.contacts-table {
  font-family: "Open Sans", sans-serif;
  border-collapse: collapse;
  margin: 18px auto;
  font-size: 1em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px #00000066;
  letter-spacing: 0.07em;
  width: 85%;
  word-wrap: break-word;
}

.contacts-table thead tr {
  background-color: #e84142;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.contacts-table tbody tr:hover {
  background-color: #e7e7ef;
}

.contacts-table th {
  padding: 15px;
}

.contacts-table td {
  padding: 15px 15px 5px 15px;
}

.contacts-table tbody tr {
  max-width: 80%;
}

.contacts-table tr:nth-child(even) {
  background-color: #f6f6f9;
}

.contacts-table tbody tr:last-of-type {
  border-bottom: 2px solid #e84142;
}

.contacts-table tbody tr.active-row {
  font-weight: bold;
  color: #e7e7ef;
}

.contacts-table input[type="text"] {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border: 0;
  background-color: inherit;
  letter-spacing: 0.07em;
}

.contacts-table input[type="date"] {
  font-size: 1.3em;
  border: 0;
  background-color: inherit;
}

.contacts-table input[type="text"]:focus {
  outline: 0;
  border-bottom: 1px solid #e84142;
  transition: 0.1s all ease;
}

.contacts-table input[type="date"]:focus {
  outline: 0;
  border-bottom: 1px solid #e84142;
  transition: 0.1s all ease;
}

.contacts-table .delete-button {
  font-family: "Lato", sans-serif;
  width: 100px;
  border: 1px solid transparent;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  background: none;
}

.contacts-table .delete-button:hover {
  color: #e84142;
  text-decoration: underline;
}

.contact-info-button{
  font-family: "Lato", sans-serif;
  border: 1px solid black;
  background: none;
  height: 30px;
  width: 100px;
}
.contact-info-button:hover{
  font-family: "Lato", sans-serif;
  border: 1px solid transparent;
  background-color:#e84142;
  color: white;
}
