.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// .modal-card{
//   z-index: 11;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: white;
//   width: 700px;
//   height: 800px;
//   border-radius: 5px;
//   overflow: hidden;
//   box-shadow: 0 0 20px #00000080;
//   letter-spacing: 0.07em;
// }


.job-card{
  width: 500px;
  height: 550px;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px #00000080;
  letter-spacing: 0.07em;
}

.contact-card {
  width: 550px;
  height: 730px;
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px #00000080;
  letter-spacing: 0.07em;
}

.card-heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.222;
  margin: 20px auto;
  text-align: center;
  border-bottom: 1px solid #E84142;
  width: 40%;
}

.card-form {
    width: 90%;
    margin: 30px auto;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;

  &+.input {
    margin-top: 1.5rem;
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 1.5rem;
}

.date {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 1.5rem;

}

.input-label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  transition: .25s ease;
}

.checkbox-label {
  color: #8597a3;
  top: 1.5rem;
  transition: .25s ease;
}

.date-label {
  color: #8597a3;
  top: 1.5rem;
  transition: .25s ease;
}

.checkbox-field {
  margin-left: 20px;
  accent-color: red;
}

.date-field {
  margin-left: auto;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #00000084;
  font: inherit;
  font-size: 1.125rem;
  &:focus{
    outline: 0;
    border-bottom-color: #E84142;
  }
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 1px solid #00000084;
  font: inherit;
  font-size: 1.125rem;
  padding: .25rem 0;

  &:focus,
  &:valid {
    outline: 0;
    border-bottom-color: #E84142;

    &+.input-label {
      transform: translateY(-1.5rem);
    }
  }
}

.create-job-button{
  width: 100%;
  text-align: center;
}

.action-button {
  margin: 40px auto;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  width: 120px;
  height: 35px;
  border: 1px solid #000000;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  background-color: #ffffff;
  background: none;
  //border-radius: 20px;
}

.action-button:hover {
  border: 1px solid #e84142;
  background-color: #e84142;
  color: #ffff;
}
