.jobs-container-header{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 30px;
}

.add-job{
  margin-left: auto;
  font-family: "Lato", sans-serif;
  width: 120px;
  height: 35px;
  border: 1px solid black;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  background-color: #ffffff;
  background: none;
  border-radius: 20px;
  text-align: center;
  font-size: 15px;
}

.add-job:hover {
  border: 1px solid #e84142;
  background-color: #e84142;
  color: #ffff;
}

.filter-job{
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.filter-job input{
    font-size: 1em;
    border: none;
    background-color: inherit;
    letter-spacing: 0.07em;
    border-bottom: 1px solid #00000084;
    font-family: "Lato", sans-serif;
    margin-left: 4px;
}

.filter-job input:focus {
  outline: 0;
  border-bottom: 1px solid #e84142;
  transition: 0.1s all ease;
}

.jobs-index-container {
  min-height: 95vh;
}

.jobs-table {
  font-family: "Open Sans", sans-serif;
  border-collapse: collapse;
  margin: 18px auto;
  font-size: 1em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px #00000066;
  letter-spacing: 0.07em;
  width: 85%;
  // word-wrap: break-word;
  /* table-layout: fixed; */
}

.jobs-table a{
  color: black;
}
.jobs-table a:hover{
  color:#e84142;
}

.jobs-table thead tr {
  background-color: #e84142;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.jobs-table tbody tr:hover {
  background-color: #e7e7ef;
}

.jobs-table th {
  padding: 15px;
  font-family: "Open Sans", sans-serif;
}

.jobs-table th:first-of-type {
  text-align: center;
}

.jobs-table td {
  padding: 15px 15px 10px 15px;
}


.jobs-table td:first-of-type {
  text-align: center;
}

.jobs-table tbody tr {
  max-width: 80%;
}

.jobs-table tr:nth-child(even) {
  background-color: #f6f6f9;
}

.jobs-table tbody tr:last-of-type {
  border-bottom: 2px solid #e84142;
}

.jobs-table tbody tr.active-row {
  font-weight: bold;
  color: #e7e7ef;
}

.jobs-table input[type="text"] {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border: 0;
  background-color: inherit;
  letter-spacing: 0.07em;
}

.jobs-table input[type="date"] {
  font-size: 1.3em;
  border: 0;
  background-color: inherit;
}

.jobs-table input[type="text"]:focus {
  outline: 0;
  border-bottom: 1px solid #e84142;
  transition: 0.1s all ease;
}

.jobs-table input[type="date"]:focus {
  outline: 0;
  border-bottom: 1px solid #e84142;
  transition: 0.1s all ease;
}

.jobs-table button {
  font-family: "Lato", sans-serif;
  width: 100px;
  border: 1px solid transparent;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  background: none;
}

.jobs-table button:hover {
  color: #e84142;
  text-decoration: underline;
}

.jobs-cell {
  position: relative;
}


.jobs-link-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* text-align: center; */
  top: 40%;
  right: -10px;
  z-index: 1;
  background-color: none;
  box-sizing: border-box;
  height: 18px;
  width: 22px;
  border-radius: 4px;
  transition: box-shadow, background-color, color, border .1s ease-in, box-shadow, background-color, color, border .1s ease-out;
}

.jobs-link-edit:hover {
  cursor: pointer;
  color: #e84142;
}

.jobs-link-cell-edit{
  display: flex;
  flex-direction:row;
  width: 100%;
  justify-content: space-between;
}
.jobs-link-cell-edit div {
  color:rgb(15,15,15);
}
.jobs-link-cell-edit:hover{
  cursor:pointer;
}

